

<div style="margin: 12px 12px 0 0;float: right">
  <button nz-button  nzType="primary" nzShape="circle" (click)="openDrawer()"><i nz-icon type="setting" theme="outline" ></i></button>
</div>
<div style="margin: 12px 12px 0 0;float: right">
  <button nz-button style="font-size: 28px;line-height: 27px"  nzType="primary" nzShape="circle" (click)="goGitHub()"><i nz-icon nzType="github" nzTheme="outline"></i></button>
</div>

<div style="clear:both"></div>

<div id ="startdiv" *ngIf="!IsStart"  >

  <button nzSize="large" style="font-size: 30px; width: 230px;height:70px;line-height: 70px;margin:170px auto;display:block;" [disabled]="DisplayMdata.length == 0" nz-button nzType="primary" (click)="start()">开始练习</button>

</div>




<div id="miandiv" *ngIf="IsStart" >
<div style="font-size :4.5em;text-align: center;margin-top: 40px">
  {{Data.displayData}}
</div>


<audio  id='ddsound' src='' ></audio>
<!-- <div  style="font-size :1.5em;text-align: center;margin-top: 24px">
 
</div> -->
<div *ngIf="!isShowRemind && Data.remind != ''"  style="font-size :1.5em;text-align: center;margin-top: 50px">
  <a (click)="showRemind()">查看提示</a> 
</div>
<div *ngIf="isShowRemind" style="font-size :1.5em;text-align: center;margin-top: 50px">{{Data.remind}} &nbsp;  <a style="font-size:17px" (click)="playsound(Data.id)"><i nz-icon nzType="sound" nzTheme="outline"></i></a></div>

<button nzSize="large" style="width: 200px;margin:30px auto;display:block;" [disabled]="DisplayMdata.length == 0" nz-button nzType="primary" (click)="getRandomMdata()">下一个</button>
</div>
<nz-drawer
[nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
[nzClosable]="true"
[nzVisible]="Data.drawerVisible"
[nzWidth]="365"
nzPlacement="right"
nzTitle="设置"
(nzOnClose)="closeDrawer()"
>
  <app-settings [memoObjects] = "Mdata" [displayType] = "DisplayType" (changeDisplayText)="changeDisplayText($event)" ></app-settings>
</nz-drawer>
