<div id="divSetting" style="height:500px;position: relative;" #target>

  <div style="background-color:white;position: fixed;height: 60px;line-height: 60px;z-index: 9999;top:55px;width: 100%" >
      <nz-radio-group [(ngModel)]="displayType" (ngModelChange)="ondisplayType()"> 
    <label nz-radio nzValue="A">平 & 片</label>
      <label nz-radio nzValue="Ping">平</label>
      <label nz-radio nzValue="Pian">片</label>
      <label nz-radio nzValue="luo">罗</label>
      <label nz-radio nzValue="swap">平 <span style="font-size:12px"><i nz-icon nzType="swap" nzTheme="outline"></i></span> 片</label>
    </nz-radio-group>
  </div>
  <div style="height: 40px">
      
  </div>




   <nz-divider nzText="清音" nzOrientation="left"></nz-divider>
    <button style="width:50px" nz-button nzSize="small" nzType="primary" (click)="selectAll(0)">All</button> &nbsp;
    <button style="width:50px" nz-button nzSize="small" nzType="default" (click)="unselectAll(0)">Clear</button>



  <!-- <br>
  {{mouseDownFlag}} {{lastTouchID}} -->

  <div style="clear:both;margin-bottom: 10px"></div>

  <div class="memoObjects" *ngFor="let mb of getFYTypeObjects(memoObjects,0)" 
  style="width: 55px;float:left;text-align: center;line-height: 16px;border: 1px solid; border-radius: 5px;margin-left: 1px;margin-top: 1px;user-select:none; height:37px " 
  [style.margin-left] = "getMarginLeft(mb)" 

  [class.activeKana] = "mb.Selected"
  [class.unActiveKana] = "!mb.Selected"
  id = "{{mb.DisplayText}}"
  >
  {{getDisplayText(mb)}}<br>{{getRemindText(mb)}}
  </div>

  <div style="clear:both;margin-bottom: 10px"></div>
  <nz-divider nzText="浊音" nzOrientation="left"></nz-divider>
  <button style="width:50px" nz-button nzSize="small" nzType="primary" (click)="selectAll(1)">All</button> &nbsp; 
  <button style="width:50px" nz-button nzSize="small" nzType="default" (click)="unselectAll(1)">Clear</button>

  <!-- <br>
  {{mouseDownFlag}} {{lastTouchID}} -->

  <div style="clear:both;margin-bottom: 10px"></div>

  <div class="memoObjects" *ngFor="let mb of getFYTypeObjects(memoObjects,1)" 
  style="width: 55px;float:left;text-align: center;line-height: 16px;border: 1px solid; border-radius: 5px;margin-left: 1px;margin-top: 1px;user-select:none; height:37px " 
  [style.margin-left] = "getMarginLeft(mb)" 
  [class.activeKana] = "mb.Selected"
  [class.unActiveKana] = "!mb.Selected"
  id = "{{mb.DisplayText}}"
  >
  {{getDisplayText(mb)}}<br>{{getRemindText(mb)}}
  </div>

  <div style="clear:both;margin-bottom: 10px"></div>
  <nz-divider nzText="拗音" nzOrientation="left"></nz-divider>
  <button style="width:50px" nz-button nzSize="small" nzType="primary" (click)="selectAll(2)">All</button> &nbsp; 
  <button style="width:50px" nz-button nzSize="small" nzType="default" (click)="unselectAll(2)">Clear</button>

  <!-- <br>
  {{mouseDownFlag}} {{lastTouchID}} -->

  <div style="clear:both;margin-bottom: 10px"></div>

  <div class="memoObjects" *ngFor="let mb of getFYTypeObjects(memoObjects,2)" 
  style="width: 85px;float:left;text-align: center;line-height: 16px;border: 1px solid; border-radius: 5px;margin-left: 1px;margin-top: 1px;user-select:none; height:37px " 
  [style.margin-right] = "'12px'" 
  [class.activeKana] = "mb.Selected"
  [class.unActiveKana] = "!mb.Selected"
  id = "{{mb.DisplayText}}"
  >
  {{getDisplayText(mb)}}<br>{{getRemindText(mb)}}
  </div>
</div>

